
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
     max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
/* header */

.header{
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}    

.header-content{

    width: 1158px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.page-nav{
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logo-part-header{
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    position: relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
position: relative;
color: #404bbf;;
}

.current::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-link:hover {
        color: #404bbf;
    }

.menu-link:focus {
    color: #404bbf;
}

.address{
    display: flex;
    align-items: center;
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-item{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover{
    color: #404bbf;
}
.address-item:focus
{
    color:#404bbf ;
}


/* hero */
.hero{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero-container{
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    

}
.main-title{
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.order-service-btn{
    display: block;
    margin-top: 48px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 233px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:#4d5ae5;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-btn:hover,
.order-service-btn:focus
{
    background-color: #404BBF;
}


/* about-us */
.about-us{
    padding: 120px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
.about-us-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.about-us-list-item{
    width: calc((100% - 72px) / 4);
}

.our-techno{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 8px;
}

.about-us-list-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.about-us-list-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*our-team */

.our-team{
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-title{
    margin-bottom: 72px;
}
.team-list-item {
        width: calc((100% - 72px) / 4);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name-content{
    padding: 32px 0;
}

.team-list-titile {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-list-text{
    margin-bottom: 8px;

}
.social-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;

}
.social-icon{
    fill:#f4f4fd;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item {
    width: 40px;
    height: 40px;
    
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;;
}
/* portfolio */
.portfolio{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section-title{
    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    column-gap: 24px;
    justify-content: center;
}

.app-container{
    position: relative;
    overflow: hidden;
}

.info-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

 .app-container:hover .info-overlay{
    transform: translateY(0%);
 }

.portfolio-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover{
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-content{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none
}
.portfolio-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */
.footer-page{
    padding: 100px 0;
    background-color: #2e2f42;
}
.footer-content{
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}
.footer-section-left{
    margin-right: 120px;
}
.logo-footer {
        font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            display: inline-block;
            margin-bottom: 16px;
}

.logo-footer-part{
    color: #f4f4fd;
}


.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    width: 264px;

}

.social-media-title{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom:  16px;
}
.footer-social-list{
    display: flex;
    gap: 16px;
}
.social-list-item{
    width: 40px;
    height: 40px;

}
.footer-social-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus
{
    background-color: #31d0aa;
}

.footer-subscribe-container {
    width: 453px;
    margin-left: 80px;
}


.footer-subscribe-input-wrapper {
    display: flex;
    gap: 24px;
}

.subscribe-footer-label{
    display: flex;
    gap: 24px;
}

.subscribe-footer-input{
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-footer-input::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
}


.subscribe-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer
}
.subscribe-footer-icon{
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    color: #2e2f42;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover > .close-icon,
.modal-close-btn:focus > .close-icon {
    fill: #FFFFFF;
}

.form-descreption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.review-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.review-form-input:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
}

.review-form-input:focus +.review-form-icon{
    fill: #4d5ae5;
    stroke: #4d5ae5;
}

.review-form-fiald-wrapper{
    margin-bottom: 8px;
}
.review-form-fiald-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.review-form-fiald-input{
    position: relative;
}

.review-form-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    stroke: #0c0c0c;
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment {
    margin-bottom: 16px;
}

.review-form-textarea{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    height: 120px;
    width: 100%;
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.review-form-textarea:focus{
    border: 1px solid #4d5ae5;
    outline: transparent;
}

.review-form-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.policy-privasy-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.review-form-checkbox-wrapper{
    margin-bottom: 24px;
}

.policy-privasy{
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.checkbox-policy-privasy{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent
}

.checkbox-policy-icon{
    border: none;
    fill: transparent;
}
.review-form-privacy-checkbox:checked+.policy-privasy-label .checkbox-policy-privasy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.review-form-submit-btm{
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


